escolasLocais {
    background-attachment: auto;
    background: url("img/Fundo.jpeg") no-repeat
    center center;
    background-size: cover;
    height: 92vh;
}

#linha-horizontal {
    width: 400px;
    border: 1px solid rgb(255, 0, 0);
}
/*Avaliaçoes*/

body{
    background-attachment: auto;
    background: url("img/Fundo.jpeg");
    background-size: cover;
    height: 92vh;
}

#login-container {
    background-color: rgb(172, 243, 228);
    width: 750px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    color: rgb(43, 90, 82);
    }

#linha-horizontal {
        width: 400px;
        border: 1px solid rgb(255, 0, 0);
    }

/*Fim Avaliações*/

Noticias {
    background-attachment: auto;
    background: url("img/Fundo.jpeg") no-repeat
    center center;
    background-size: cover;
    height: 92vh;

}

Perfil {
    background-attachment: auto;
    background: url("img/Fundo.jpeg") no-repeat
    center center;
    background-size: cover;
    height: 92vh;
    
}

sobre {
    background-attachment: auto;
    background: url("img/Fundo.jpeg") no-repeat
    center center;
    background-size: cover;
    height: 92vh;
}